@font-face {
  font-family: "Joystix";
  src: url("/public/assets/joystix monospace.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  height: 100vh;
  background-image: url("/public/assets/plain_back.png");
  background-size: 100% 100%;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  padding: 20px 10px;
  max-width: 450px;
  margin: auto;
  font-family: "Joystix";
  color: white;
}

body .box {
  background-color: gray;
  outline: none;
}

body .top-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
}

body .top-stats .time, body .top-stats .rounds {
  width: 42%;
  height: 80%;
  margin: 0 5px;
  background-image: url("/public/assets/top_nav_basic_n.png");
  background-position: center;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .top-stats .time p, body .top-stats .rounds p {
  text-align: center;
  font-size: 3.7vh;
}

body .curr-shape-window {
  width: 85%;
  height: 42vh;
  margin: 10px auto;
  background-image: url("/public/assets/center_field_basic_n.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: none;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .curr-shape-window .curr-shape {
  width: 70%;
}

body .buttons {
  height: 40vh;
  width: 88%;
  margin: 15px auto;
}

body .buttons .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .buttons .row button {
  background-color: transparent;
  width: 50%;
  height: 18vh;
  margin: 8px 8px;
  background-image: url("/public/assets/btn_basic_basic_n.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
}

body .buttons .row button:hover img {
  width: 78%;
  height: 78%;
}

body .buttons .row button img {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  width: 70%;
  height: 70%;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */