@font-face {
    font-family: "Joystix";
    src: url("/public/assets/joystix\ monospace.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body{
    height: 100vh;
    background-image: url("/public/assets/plain_back.png");
    background-size: 100% 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    padding: 20px 10px;
    max-width: 400px;
    margin: auto;
    font-family: "Joystix";
    color: white;
}


@import "_gameplay";
@import "_endscreen";