.main-menu {
    .main-menu-nav {
        .inventory-page {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            //justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 300ms all ease;
            //background: url("./assets/plain_back.png");
            background-size: 100% 100%;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
            z-index: 20;
            padding: 40px 0px;
            z-index: 99;
            .badge-section {
                margin-top: 30%;
                width: 90%;
                height: 30%;
                display: none;
                //justify-content: center;
                align-items: center;
                flex-direction: column;
                background: url("../assets/center_field_basic_n.png");
                background-size: 100% 100%;
                .badge-section-title {
                    margin-top: 5%;
                }
                .badges {
                    display: none;
                    margin-top: 5%;
                    width: 80%;
                    height: 10vh;
                    flex-direction: column;
                    .row {
                        display: flex;
                        height: 67%;
                        //justify-content: space-between;
                        margin-bottom: 3%;
                        button {
                            width: 30%;
                            aspect-ratio: 10/16;
                            background: transparent;
                            margin-right: 6%;
                            img {
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .themes-unlocked-value{
                margin: 30% 0 5% 0;
            }
            .inventory-themes-section{
                overflow-y: scroll !important;
                width: 85%;
                //padding-top: 25%;
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 60vh;
                .themes-unlocked-row{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    //justify-content: space-between;
                    height: 23vh;
                    margin-bottom: 3%;
                    flex-wrap: wrap;
                    justify-content: center;
                    button{
                        background: none;
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        //width: 100%;
                        aspect-ratio: 9/16;
                        width: 20%;
                        margin: 2% 2%;
                        //height: 100%;
                        border: none;
                        outline: none;
                        flex: 0 0 25%;

                    }
                }
                .scroll-helper{
                    margin-top: 50%;
                }
            }
        }
    }
}
