.main-menu {
    .main-menu-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden !important;
        .play-page {
            display: flex;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 90%;
            height: 100%;
            //display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 300ms all ease;
            //background: url("./assets/plain_back.png");
            background-size: 100% 100%;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
            overflow-x: hidden !important;

            .main-menu-top-stats-right {
                position: absolute;
                top: 20px;
                right: 15px;
                width: 20%;
                height: 12vh;
                button {
                    background-image: url("../assets/btn_basic_basic_n.png");
                    background-position: center;
                    background-size: 100% 100%;
                    background-repeat: none;
                    width: 100%;
                    height: 100%;
                }
            }

            .main-play {
                width: 85%;
                height: 38vh;
                margin: 10px auto;
                background-image: url("../assets/center_field_basic_n.png");
                background-position: center;
                background-size: 100% 100%;
                background-repeat: none;
                outline: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img {
                    width: 20%;
                }
                p {
                    font-family: "Joystix";
                    color: white;
                    font-size: 5vh;
                    margin-top: 15px;
                }
            }
            .main-vs {
                width: 50%;
                height: 8vh;
                margin: 10px auto;
                background-image: url("../assets/btn_basic_basic_wide_n.png");
                background-position: center;
                background-size: 100% 100%;
                background-repeat: none;
                outline: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 25%;
                    margin-right: 10px;
                }
                p {
                    font-family: "Joystix";
                    color: white;
                    font-size: 5vh;
                }
            }
        }
    }
}

.lower-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../assets/basic_menu_bar.png");
    background-size: 100% 100%;
    z-index: 100;
    .active {
        margin-top: -5px;
        transition: 300ms all ease;
        width: 35% !important;
    }
    button {
        background-size: 100% 100%;
        background-color: transparent;
        width: 25%;
        height: 100%;
        margin-top: 25px;
        img {
            width: 40%;
        }
    }
    .shop {
        width: 30%;
        margin-left: -10px;
    }
}
