.main-menu{

    .main-menu-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .shop-page{
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100%;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 300ms all ease;
            
            background-size: 100% 100%;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
        }
        .play-page{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 300ms all ease;
            //background: url("/public/assets/plain_back.png");
            background-size: 100% 100%;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;

            .main-menu-top-stats{
                width: 80%;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 100%;
                .main-menu-top-stats-left{
                    .nickname{
                        background-image: url("/public/assets/top_nav_basic_n.png");
                        width: 70%;
                        height: 6vh;
                        background-size: 100% 100%;
                        display: flex;
                        align-items: center;
                        padding: 0 20px;
                        font-size: 2.7vh;
                    }
            
                    .stats{
                        display: flex;
                        margin-top: 10px;
                        .coins{
                            background-image: url("/public/assets/top_nav_basic_n.png");
                            width: 40%;
                            height: 5vh;
                            background-size: 100% 100%;
                            display: flex;
                            align-items: center;
                            padding: 0 8px;
                            img{
                                width: 35%;
                            }
                            p{
                                font-size: 2vh;
                            }
                        }
                        .gems{
                            background-image: url("/public/assets/top_nav_basic_n.png");
                            width: 30%;
                            height: 5vh;
                            background-size: 100% 100%;
                            display: flex;
                            align-items: center;
                            padding: 0 8px;
                            img{
                                width: 20%;
                                margin-right: 5px;
                            }
                            p{
                                font-size: 2vh;
                            }
                        }
                    }
                }
            }
            
            .main-menu-top-stats-right{
                position: absolute;
                top: 20px;
                right: 15px;
                width: 20%;
                height: 12vh;
                button{
                    background-image: url("/public/assets/btn_basic_basic_n.png");
                    background-position: center;
                    background-size: 100% 100%;
                    background-repeat: none;
                    width: 100%;
                    height: 100%;
                }
            }
            
            .main-play{
                width: 85%;
                height: 38vh;
                margin: 10px auto;
                background-image: url("/public/assets/center_field_basic_n.png");
                background-position: center;
                background-size: 100% 100%;
                background-repeat: none;
                outline: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img{
                    width: 20%;
                }
                p{
                    font-family: "Joystix";
                    color: white;
                    font-size: 5vh;
                    margin-top: 15px;
                }
            }
            .main-vs{
                width: 50%;
                height: 8vh;
                margin: 10px auto;
                background-image: url("/public/assets/btn_basic_basic_wide_n.png");
                background-position: center;
                background-size: 100% 100%;
                background-repeat: none;
                outline: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 25%;
                    margin-right: 10px;
                }
                p{
                    font-family: "Joystix";
                    color: white;
                    font-size: 5vh;
                }
            }
        }
        .inventory-page{
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100%;
            background-color: green;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 300ms all ease;
            background: url("/public/assets/plain_back.png");
            background-size: 100% 100%;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
        }

}
}

.lower-nav{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("/public/assets/basic_menu_bar.png");
    background-size: 100% 100%;
    .active{
        margin-top: -5px;
        width: 35% !important;
    }
    button{
        background-size: 100% 100%;
        background-color: transparent;
        width: 25%;
        height: 100%;
        margin-top: 25px;
        img{
            width: 40%;
        }
    }
    .shop{
        width: 30%;
        margin-left: -10px;
    }
}