.main-menu {
    .main-menu-nav {
        .shop-page {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 90%;
            height: 100%;
            //display: flex;
            //justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 300ms all ease;
            //background: url("./assets/plain_back.png");
            background-size: 100% 100%;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
            z-index: 20;
            padding: 40px 0px;
            display: none;
            .title {
                margin: 5px 0 40px 0;
                font-size: 3vh;
            }
            .special-deal-container {
                background-image: url("./assets/center_field_basic_n.png");
                width: 100%;
                height: 32%;
                margin-top: 35%;
                background-size: 100% 100%;
                position: relative;
                display: flex;
                justify-content: center;
                //align-items: center;
                flex-direction: column;
                .special-deal {
                    font-size: 2vh;
                    text-align: center;
                    margin-top: -10%;
                    margin-bottom: 5%;
                }
                .special-deal-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 17%;
                        height: 16vh;
                    }
                    .special-deal-content-side {
                        height: 10vh;
                        margin-left: 10%;
                        div {
                            display: flex;
                            margin-top: 3%;
                            height: 50%;
                            //justify-content: center;
                            align-items: center;
                            width: 100%;
                            img {
                                height: 100%;
                                margin-right: 5%;
                                margin-left: 20%;
                            }
                            .coin-deal{
                                width: 100%;
                                margin-left: 5%;

                            }
                        }
                    }
                }

                .special-deal-price {
                    position: absolute;
                    bottom: 3%;
                    left: 50%;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    transform: translate(-50%, 0);
                    height: 12%;
                    img {
                        height: 100%;
                    }
                }
            }
            .theme-shop-title {
                margin-top: 20px;
            }
            .themes-shop {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25%;
                margin-top: 20px;
                button {
                    width: 35%;
                    margin: 20px 5px;
                    height: 100%;
                    background-image: url("./assets/placeholder.png");
                    background-size: 100% 100%;
                    position: relative;
                    .theme-price {
                        display: flex;
                        position: absolute;
                        justify-content: center;
                        align-items: center;
                        bottom: -18%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: 100%;
                        height: 15%;
                        img {
                            height: 100%;
                        }
                        p {
                            font-family: "Joystix";
                            color: white;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
